<div data-controller = "address-autocomplete">
<%= simple_form_for(thing) do |f| %>
  <%= f.input :name, label: "Toy name", class: "test" %>
  <%= f.input :price %>
  <%= f.input :description %>
  <%= f.input :picture_image, as: :file, :label => "Photo" %>

  <%= f.input :location, input_html: { data: {address_autocomplete_target: "address"}, class: "d-none" },
      wrapper_html: { data: { controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"] } },
      autocomplete: "on"%>
  <%= f.input :age, collection: ['0-6 MONTHS', '6-12 MONTHS', '1-3 YEARS', '3-6 YEARS', '6-12 YEARS', '12+ YEARS'] %>

  <%= f.submit class: 'button btn btn-primary'%>
<% end %>
</div>

<%# <script>
  document.addEventListener('DOMContentLoaded', function() {
    const locationInput = document.getElementById('thing_location');
    const wrapper = document.getElementById('location_wrapper');
    locationInput.addEventListener('input', function() {
      const inputValue = locationInput.value;
      wrapper.innerText = inputValue;
    });
  });
</script> %>
