<div class="banner-index">
</div>
<div class="container mt-5">

  <h2>Check out all the toys!</h2>

    <div class="toys-filter mb-4">
      <%= link_to "All the toys", toys_path(@toys), class: "filter" %>
      <%= link_to "0-6 MONTHS", toys_path(age: "0-6 MONTHS"), class: "filter" %>
      <%= link_to "6-12 MONTHS", toys_path(age: "6-12 MONTHS"), class: "filter" %>
      <%= link_to "1-3 YEARS", toys_path(age: "1-3 YEARS"), class: "filter" %>
      <%= link_to "3-6 YEARS", toys_path(age: "3-6 YEARS"), class: "filter" %>
      <%= link_to "6-12 YEARS", toys_path(age: "6-12 YEARS"), class: "filter" %>
      <%= link_to "12+ YEARS", toys_path(age: "12+ YEARS"), class: "filter" %>
    </div>

     <div class="cards mb-5">
      <% @toys.each do |toy|%>
        <div class="home-card">
        <a href="<%= toy_path(toy) %>">
          <div class="home-username"><i class="fa-solid fa-circle-user"></i><%= toy.user.username %></div>
          <div class="image-home-toy image-overlay" style="background-image: url(<%= toy.image_url.attached? ? cl_image_path(toy.image_url.key) :asset_path('image-default.jpeg')%>)">
          </div>
            <h3 class='card-toyname'><%=toy.name%></h3>
            <p class='card-price'>€<%=toy.price.to_i%> per day</p>
            <p class='card-age'><%=toy.age%></p>
            <p class='card-place-date'><%= toy.location %> | posted: <%=toy.created_at.strftime('%a %e %b')%></p>
          </a>
        </div>
      <% end %>
    </div>
</div>
