<div class="container my-5">

  <div class="mb-4">
    <%= link_to "< Back to home", root_path %>
  </div>

  <h2>All the toys</h2>

  <div class='cards'>
    <% @toys.each do |toy| %>
    <div class="cards-container">
      <div class="container-image">
        <%= cl_image_tag toy.image_url, alt: "procuct.name.photo", class: "img"%>
      </div>
      <div class="card-details">
        <a href="<%= toy_path(toy) %>">
        <h3><%= toy.name %></h3>
        <p><%= toy.location %></p>
        <p><%= toy.price %><%= '€/day' %></p>
        <button class='button'><%= link_to "Reserve", new_toy_reservation_path(toy) %></button>
      </div>
    </div>
      <%#= render 'layouts/card' %>
    <% end %>
  </div>
</div>
