<div class="form">
  <h1>Create a new toy</h1>

  <div class="form-size">
    <%= simple_form_for(@toy) do |f| %>
      <%= f.input :name %>
      <%= f.input :price %>
      <%= f.input :description %>
      <%= f.input :location %>
      <%= f.input :age %>

      <%= f.submit class: 'btn btn-primary'%>
    <% end %>
  </div>
</div>
