<div class="toy-card">
  <div class="toy-container">
      <div class="toy-image">
        <%= cl_image_tag @toy.image_url, alt: "procuct.name.photo", class: "product-image"%>
      </div>
      <div class="toy-details">
        <h2><%= @toy.name %></h2>
        <div class="descripiton">
          <h3>Descripiton</h3>
          <p><%= @toy.description %></p>
        </div>
        <div class="toy-reservation-details">
          <p class="price"><strong>€<%= @toy.price.to_i %>  /day</p>
          <div class="container" data-controller='toggle' data-toggle-price-value="<%= @toy.price %>">
            <%= simple_form_for [@toy, @reservation] do |f| %>
              <%= f.input :booking_date_start, as: :string, input_html: { data: { controller: "datepicker", datepicker_dates_value: @dates_availability, action: 'change->toggle#setStartDate' } }, placeholder: "Startdate" ,label: "Duration of Rent"%>
              <%= f.input :booking_date_end, as: :string, input_html: { data: { controller: "datepicker", action: 'change->toggle#setEndDate' } } , placeholder: "Enddate", label:false%>
              <p data-toggle-target="priceText"></p>
              <%= f.submit "Reserve", class: 'btn btn-primary'%>
            <% end %>
          </div>
        </div>
      </div>
  </div>

  <div class="map">
    <div class="location">
      <h2>Location</h2> 
      <%= @toy.location %></p>
    </div>
    <div class="map-container" style="width: 100%; height: 400px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
