<div class="toy-container">
  <div class="toy-image column">
    <%= cl_image_tag @toy.image_url, alt: "procuct.name.photo", class: "product-image"%>
  </div>
  <div class="toy-details column">
    <h2><%= @toy.name %></h2>
    <h3 class="toy-header-descripiton"> Descripiton </h2>
    <p><%= @toy.description %><p>
      <div class="toy-reservation.details border p-5">
        <div class="toy-price.details">
          <p><%= @toy.price %> '€/day'</p>
          <p> PickerDate </p>
          <button class="btn">Reserve</button>
        </div>
      </div>
  </div>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['pk.eyJ1IjoiaWxvdmVyb2IiLCJhIjoiY2xkazhla2NlMDQwZzN1bzM3bGRxdjVoMCJ9.5hY5peqzg63YM6rcfa214A'] %>">
</div>