<div class='container dashboard-container mt-5'>

    <h1 class="mt-5">
      <div class="home-username">
        <i class="fa-solid fa-circle-user" style="color: #013D7B;"></i> Welcome, <%= current_user.username %></div>
    </h1>

  <div class="my-5">
      <div class="my-reservation-box p-5">
        <h2 class='mb-3 pb-3'>My reservations</h2>
        <div class='cards'>

          <% @reservations.each do |reservation| %>
          <div class="cards-container">
          <p><strong>From</strong> <%=  reservation.booking_date_start.strftime('%e %b') %> <strong>to</strong> <%=  reservation.booking_date_end.strftime('%e %b') %></p>
            <div class="container-image">
              <div class="img">
              <% if reservation.toy.picture_image.attached? %>
              <%= cl_image_tag (reservation.toy.picture_image.key)%>
              <% else %>
              <%= image_tag reservation.toy.image_url %>
              <% end %>
              </div>
            </div>
            <div class="card-details">
              <h3 class='card-toyname'><%= reservation.toy.name %></h3>
              <p><%= reservation.toy.location %></p>
              <%= link_to "Cancel",  reservation_path(reservation), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
  </div>


  <div>
        <div class="my-toys-box mb-5 p-5">
          <h2 class='mb-3 pb-3'>My Toys</h2>
          <div class="cards">
                <%@toys.each do |toy|%>
                  <div class="home-card">
                    <div class="action-card">
                      <%= link_to "Delete",  toy_path(toy), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
                      <%= '|' %>
                      <%= link_to "Edit",  edit_toy_path(toy) %>
                    </div>
                    <div class="image-home-toy" style="background-image: url(<%= toy.picture_image.attached? ? cl_image_path(toy.picture_image.key) :asset_path(toy.image_url)%>)">
                    </div>
                    <div>
                      <h3 class='card-toyname'><%=toy.name%></h3>
                      <p class='card-price'>€<%=toy.price.to_i%> per day</p>
                      <p class='card-age'><%=toy.age%></p>
                      <p class='card-place-date'><%= toy.location %> | posted: <%=toy.created_at.strftime('%a %e %b')%></p>
                    </div>
                    </a>
                  </div>
                <% end %>
          </div>

          <div data-controller="toggle" class='btn-add'>
            <button data-action="click->toggle#show"  class="btn btn-primary btn-add-toy"> <i class="fa-solid fa-plus"></i> Sell a toy</button>
              <div class="d-none" data-toggle-target="togglable">
                <%= render "toys/form", thing: @toy %>
              </div>
          </div>

        </div>
  </div>

</div>
