<div class="banner">
</div>

  <div class="container mt-5">
    <h1>Welcome</h1>
    <p>Play Beyond Boundaries: Renting Smiles for Kids and the Young at Heart!</p>

    <div class="user-story p--5">
        <%# <img src="user-story.png" alt="user-story"> %>
        <%= image_tag ("home-page-story.png")%>
    </div>

    <div class="cards mb-5">
      <% @home_toys.each do |toy|%>
        <div class="home-card">
        <a href="<%= toy_path(toy) %>">
          <div class="home-username"><i class="fa-solid fa-circle-user"></i><%= toy.user.username %></div>
          <div class="image-home-toy image-overlay" style="background-image: url(<%= toy.picture_image.attached? ? cl_image_path(toy.picture_image.key) :asset_path(toy.image_url)%>)">
          </div>
          <div class="px-3">
          <h3><%= toy.name %></h3>
          <p><%=toy.price.to_i%> EUR per day</p>
          <p><%=toy.age%> months</p>
          <p>Amsterdam 1084VV today at 14:55</p>
          </div>
            <h3 class='card-toyname'><%=toy.name%></h3>
            <p class='card-price'>€<%=toy.price.to_i%> per day</p>
            <p class='card-age'><%=toy.age%></p>
            <p class='card-place-date'><%= toy.location %> | posted: <%=toy.created_at.strftime('%a %e %b')%></p>
          </a>
        </div>
      <% end %>
    </div>
  </div>
