<div class="banner">
</div>

  <div class="container mt-5">
    <h1>Welcome</h1>
    <p>Play Beyond Boundaries: Renting Smiles for Kids and the Young at Heart!</p>

    <div class="toys-filter">
    
      <%= link_to "0-6 MONTHS", toys_path(age: "0-6 MONTHS"), class: "filter" %>
      <%= link_to "6-12 MONTHS", toys_path(age: "6-12 MONTHS"), class: "filter" %>
      <%= link_to "1-3 YEARS", toys_path(age: "1-3 YEARS"), class: "filter" %>
      <%= link_to "3-6 YEARS", toys_path(age: "3-6 YEARS"), class: "filter" %>
      <%= link_to "6-12 YEARS", toys_path(age: "6-12 YEARS"), class: "filter" %>
      <%= link_to "12+ YEARS", toys_path(age: "12+ YEARS"), class: "filter" %>
    </div>


    <div class="cards">
      <% @home_toys.each do |toy|%>
        <a href="<%= toy_path(toy) %>">
        <div class="home-card">
          <div class="home-username"><i class="fa-solid fa-circle-user"></i><%= toy.user.username %></div>
          <div class="image-home-toy" style="background-image: url(<%= toy.image_url.attached? ? cl_image_path(toy.image_url.key) :asset_path('image-default.jpeg')%>)">
          </div>
          <div class="px-3">
          <h3><%= toy.name %></h3>
          <p><%=toy.price.to_i%> EUR per day</p>
          <p><%=toy.age%> months</p>
          <p>Amsterdam 1084VV today at 14:55</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
