<div class="banner">
</div>

  <div class="container mt-5 dashboard-container">
    <h1>Welcome</h1>
    <p>Play Beyond Boundaries: Renting Smiles for Kids and the Young at Heart!</p>

    <div class="user-story p-5">
        <%# <img src="user-story.png" alt="user-story"> %>
        <%= image_tag ("home-page-story.png")%>
    </div>

      <h2> <i class="fa-solid fa-heart" style="color: #cc0000;"></i> Our favorite pick!</h2>
      <%= link_to "See more toys", toys_path, class:'button p-2' %>

    <div class="cards mt-5 favorite">
        <% @home_toys.each do |toy|%>
          <div class="home-card">
          <a href="<%= toy_path(toy) %>">
            <div class="home-username"><i class="fa-solid fa-circle-user"></i><%= toy.user.username %></div>
            <div class="image-home-toy image-overlay" style="background-image: url(<%= toy.image_url.attached? ? cl_image_path(toy.image_url.key) :asset_path('image-default.jpeg')%>)">
            </div>
              <h3 class='card-toyname'><%=toy.name%></h3>
              <p class='card-price'>€<%=toy.price.to_i%> per day</p>
              <p class='card-age'><%=toy.age%></p>
              <p class='card-place-date'><%= toy.location %> | posted: <%=toy.created_at.strftime('%a %e %b')%></p>
            </a>
          </div>
        <% end %>
    </div>
  </div>
