<div class="navbar">

        <%= link_to image_tag("ToyBoxShare-final-logo.png"), root_path, id:"logo"%>
      <div class="navbar-nav">
        <%= link_to "All Toys", toys_path, class: "link_to" %>
        <%= link_to "My Reservation", user_reservations_path(:user_id), class: "link_to" %>
        <%= link_to "My Toys on Market", new_toy_path, class: "link_to" %>
        <%= link_to "Post Toys", new_toy_path, class: "link_to" %>
      </div>

      <div class='navbar-auth'>
          <% if user_signed_in? %>
            <div>
              <i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i>
              <%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete}, class: "link_to"%>
            </div>
          <% else %>
            <%= link_to "Login", new_user_session_path, class: "link_to"%>
            <%= link_to "Sign up", new_user_registration_path, class:"button-sigup"%>
          <% end %>
      </div>

</div>
